<div class="container">
	<div class="row filterRad">
	
		<!--Buffer-->
		<div class="col-sm-1 col-md-2 hidden-xs"></div>
		
		<!-- faktisk innhold -->
		<div class="col-xs-12 col-sm-10 col-md-8">
			<div class="row">
				<span>
				<input placeholder="Sk i stillinger" class="form-control" />
				</span>
			</div>
			<div class="row">
				<ul class="nav nav-pills filter">
					<div class="col-xs-1 hidden-sm hidden-md hidden-lg"><!-- buffer pill --></div>
					<li id="filter"class="col-xs-5 col-sm-3 col-md-2 text-center"><h4>Filter</h4></li>
					<li id="favoritt" class="col-xs-5 col-sm-3 col-md-2 text-center"><h4>Favoritt</h4></li>
				</ul>
			</div>
      <!--Filtermeny--> 
			<div class="row">
				<div class="col-xs-12 filterMeny"></div>
			</div>
		</div>
		<div class="col-sm-1 col-md-2 hidden-xs"><!--Buffer--></div>
	</div>
  
  <!-- Feed -->
  <div class="feed-container row">
    <!-- Looper igjennom et "kort" av gangen -->
	
    <% @stillinger.each do |stilling| %>
    	<div class="card media row col-md-8">
        
        <div class="left-side media-left col-md-2">
          <img class="media-object" "src="<%= stilling.logo %>">
          <p> <%= stilling.avstand %> </p> <br>
          <p> <%= stilling.frist %> </p>
        </div>
        
        <div class="middle media-body row col-md-9">
    
            <h1> 
				<%= stilling.stilling_navn %> 
				<small> <%= stilling.bedrift_nettside %> </small>
			</h1>
            <br>        
			<div class="media">
				<div class="media-left">
					<p><%= stilling.yrke %></p> <br>
					<p><%= stilling.krav_utdanning %></p> <br>
					<%= link_to "Vis mer", soeknader_path %>
				</div>
          
				<div class="media-body">
					<p> <%= stilling.beskrivelse %> </p>
				</div>
			</div>
        </div>
        <div class="right col-md-1"></div>
    	</div>
    <% end %>
  </div>
  
</div>