<div class="container row">
	<!--Buffer-->
	<div class="col-sm-1 col-md-2 hidden-xs"></div>
	
	<!-- Container med alt innhold -->		
	<div class="innhold col-xs-12 col-sm-10 col-md-8">
		<div class="row">
		
			<div class="soekeboks row">
				<span>
					<input placeholder="Søk i stillinger" class="form-control" />
				</span>
			</div>
				
				<!-- Knappene -->
			<div id="filter" "class="row"
			
				<!-- buffer -->
				<div class="col-xs-1 hidden-sm hidden-md hidden-lg"></div>
				
				<ul class="nav nav-pills filter">
					<li id="filter"class="col-xs-5 col-sm-3 col-md-2 text-center"><h4>Filter</h4></li>
					<li id="favoritt" class="col-xs-5 col-sm-3 col-md-2 text-center"><h4>Favoritter</h4></li>
				</ul>
			</div>
				
		  <!--Animert meny under--> 
			<div class="row filterMeny">
			</div>
		</div>
  <!-- Feed -->

  <!-- Looper igjennom et "card" av gangen -->
	
		<% @stillinger.each do |stilling| %>
		<div class="card row">
			<div class="left-side media-left">
			  <img src="<%= stilling.logo %>">
			  <p> <%= stilling.avstand %> </p> <br>
			</div>
			
			<div class="middle media-body">
				
				<h1> 
					<%= stilling.stilling_navn %> 
					<small> <%= stilling.bedrift_nettside %> </small>
				</h1>
					   
				
				<div>
					<p> 
						<%= stilling.yrke %>. 
						Stillingen krever <%= stilling.krav_utdanning %>
					</p>
				</div>
		  
				<div class="beskrivelse">
					<p> <%= stilling.beskrivelse %> </p>
					<%= link_to "Vis mer", soeknader_path %>
				</div>
			</div>
			<p class="dato pull-right">Søknadsfrist: <%= stilling.frist %></p>
		</div>
		<% end %>
	</div> 
	
	<!--Buffer-->
	<div class="col-sm-1 col-md-2 hidden-xs"></div>
	
</div>